
.container__big-cartel {
    width: 500px;
    height: 600px; 
    margin-left: 80px;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: flex-start; 
}


.picture > img {
    
    width: 100%;
}

.titulo__noticia > h1 > a{
    color: black;
    margin-top: 10px;
}

.big-cartel__materia > p{
    margin-top: 20px;
}